<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Valida</servlet-name>
        <servlet-class>espeservlet.Valida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prueba</servlet-name>
        <servlet-class>cadenasrv.Prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardaBoleto</servlet-name>
        <servlet-class>espeservlet.GuardaBoleto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerBoleto</servlet-name>
        <servlet-class>espeservlet.LeerBoleto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownBoleto</servlet-name>
        <servlet-class>espeservlet.DownBoleto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Readfile</servlet-name>
        <servlet-class>espeservlet.Readfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vender</servlet-name>
        <servlet-class>espeservlet.Vender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Readfilevb</servlet-name>
        <servlet-class>espeservlet.Readfilevb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sorteo</servlet-name>
        <servlet-class>espeservlet.Sorteo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Medida</servlet-name>
        <servlet-class>cadenasrv.Medida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Valida</servlet-name>
        <url-pattern>/Valida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prueba</servlet-name>
        <url-pattern>/Prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardaBoleto</servlet-name>
        <url-pattern>/GuardaBoleto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerBoleto</servlet-name>
        <url-pattern>/LeerBoleto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownBoleto</servlet-name>
        <url-pattern>/DownBoleto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Readfile</servlet-name>
        <url-pattern>/Readfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vender</servlet-name>
        <url-pattern>/Vender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Readfilevb</servlet-name>
        <url-pattern>/Readfilevb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sorteo</servlet-name>
        <url-pattern>/Sorteo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Medida</servlet-name>
        <url-pattern>/Medida</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
</web-app>
